.slider__description_theme-projects{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  grid-area: description;
  align-self: flex-start;
}

@media (max-width: 1023px) {
  .slider__description_theme-projects{
    gap: 10px;
  }
}
