.slider__description_theme-everland{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 767px) {
  .slider__description_theme-everland{
    gap: 16px;
  }
}
