.footer__yandex-copyright {
    display: flex;
    margin: 0;
    padding: 42px 0 0;
    gap: 20.66px; 
}

@media screen and (max-width: 1023px) {
    .footer__yandex-copyright {
        padding: 36px 0 0;
        gap: 10.66px;
    }
}

@media screen and (max-width: 690px) {
    .footer__yandex-copyright {
        flex-direction: column;
        padding: 40px 0 0;
    }
}