.footer__yandex-copyright {
    display: flex;
    gap: 20px; 
    grid-area: yandex-copyright;
}

@media screen and (max-width: 1023px) {
    .footer__yandex-copyright {
        margin-top: 6px;
        gap: 10px;
    }
}

@media screen and (max-width: 690px) {
    .footer__yandex-copyright {
        flex-direction: column;
        gap: 7px;
        margin-top: 16px;
    }
}