.small-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .small-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .small-text {
        font-size: 12px;
    }
}