.directions__container {
    display: grid;
    max-width: 1360px;
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
    gap: 20px;
    margin: 0 auto;
    margin-top: 50px;
}

@media screen and (max-width: 1023px) {
    .directions__container {
        max-width: 688px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 767px) {
    .directions__container {
        margin-top: 24px;
        grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
        gap: 16px;
    }
}