.header__menu-button-icon{
  display: block;
  position: absolute;
  background: #333333;
  width: 25px;
  height: 3px;
  top: 10px;
  left: 0;
}

@media screen and (max-width: 1023px) {
  .header__menu-button-icon {
    top: 9px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-button-icon {
    top: 8px;
  }
}

.header__menu-button-icon::before{
  display: block;
  position: absolute;
  background: #333333;
  width: 25px;
  height: 3px;
  left: 0;
  content: '';
  transition-duration: .3s, .3s;
  transition-delay: .3s, 0s;
  top: -10px;
  transition-property: top, transform;
}

@media screen and (max-width: 1023px) {
  .header__menu-button-icon::before {
    top: -9px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-button-icon::before {
    top: -8px;
  }
}

.header__menu-button-icon::after{
  display: block;
  position: absolute;
  background: #333333;
  width: 25px;
  height: 3px;
  left: 0;
  content: '';
  transition-duration: .3s, .3s;
  transition-delay: .3s, 0s;
  top: 10px;
  transition-property: top, transform;
}

@media screen and (max-width: 1023px) {
  .header__menu-button-icon::after {
    top: 9px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-button-icon {
    top: 8px;
  }
}
