.slider_theme-superprojects{
  width: 555px;
  height: 393px;
  border-radius: 30px;
  background-color: #e7f0ff;
  grid-area: image;
}

@media (max-width: 1150px) {
  .slider_theme-superprojects{
  width: 455px;
  height: 393px;
  }
}

@media (max-width: 1023px) {
   .slider_theme-superprojects{
   width: 259px;
   height: 284px;
   border-radius: 10px;
 }
}


@media (max-width: 767px) {
 .slider_theme-superprojects{
  justify-self: center;
  width: 254px;
  height: 180px;
 }
}
