.slider_theme-everland{
  width: 520px;
  height: 565px;
  grid-row: span 2;

}

@media (max-width: 1023px) {
  .slider_theme-everland{
  width: 244px;
  height: 272px;
  }
}

@media (max-width: 767px) {
  .slider_theme-everland{
    width: 100%;
    margin: 26px auto 0;
    height: 200px;
    justify-self: center;
 }
}
