.button__secondary_type_disabled {
  color: rgba(38, 38, 38, 0.5);
  background: #f5f5f5;
  border: 2px solid #C4C4C4;
}

.button__secondary_type_disabled:hover {
  color: rgba(38, 38, 38, 0.5);
  background: #f5f5f5;
  border: 2px solid #C4C4C4;
}

.button__secondary_type_disabled:active {
  color: rgba(38, 38, 38, 0.5);
  background: #f5f5f5;
  border: 2px solid #C4C4C4;
}