.header__menu{
  background: #ffffff;
  position: fixed;
  top: 80px;
  left: 0px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  column-gap: 20px;
  padding: 0px 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, .5s linear;
  box-sizing: border-box;
  z-index: 99999999999;
}

@media screen and (max-width: 1023px) {
  .header__menu{
    max-width: 1023px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu{
    max-width: 767px;
    top: 54px;
    grid-template-columns: 1fr;
    row-gap: 21px;
    padding: 0px 10px;
  }
}
