.donations__container-sum {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1023px) {
    .donations__container-sum {
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .donations__container-sum {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}