.button_theme_lightblue {
  background-color: #E7F0FF;
  color: #0C4BA0;
}

.button_theme_lightblue:hover {
  background-color: #0C4BA0;
  color: #fff;
}

.button_theme_lightblue:active {
  background-color: #00275C;
  color: #fff;
}