.numbers {
  margin-top: 150px;
  padding: 0 40px;
}

@media (max-width: 1023px) {
  .numbers {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .numbers {
    margin-top: 64px;
    padding: 0 10px;
  }
}