.image_border-radius-size_l {
	width: 224px;
  height: 224px;
  margin: 0 auto;
  border-radius: 50%;
}

@media (max-width: 1023px) {
  .image_border-radius-size_l  {
    width: 204px;
		height: 204px;
  }
}

@media (max-width: 767px) {
	.image_border-radius-size_l {
		width: 80px;
		height: 80px;
	}
}