.button_type_link {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333333;
  transition: 0.2s;
}

.button_type_link:hover {
  color: #00275C;
}

.button_type_link:active {
  color: #0C4BA0;
}

.button_type_link::after {
  content: '';
  margin-left: 10px;
  background-image: url(../../../images/arrows/arrow_forward_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 24px;
  height: 24px;
  transition: 0.2s;
}

.button_type_link:hover::after {
  background-image: url(../../../images/arrows/arrow_forward_dark-blue.png);
}

.button_type_link:active::after {
  background-image: url(../../../images/arrows/arrow_forward_blue.png);
}

@media (max-width: 767px) {
  .button_type_link::after {
    background-size: 13px 13px;
    width: 20px;
    height: 20px;
  }
}