.accordeon__text {
  margin-top: 10px;
  transition: max-height 2s ease;
  height: auto;
  max-height: 0px;
  box-sizing: content-box;
  overflow: hidden;
}

.accordeon__text[open] {
  max-height: 250px;;
}