.support__buttons-payment {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-evenly;
	margin-bottom: 41px;
	margin-top: 16px;
}

@media screen and (max-width: 1023px) {
	.support__buttons-payment {
		margin-top: 24px;
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 767px) {
	.support__buttons-payment {
		flex-direction: column;
		margin-top: 16px;
		margin-bottom: 24px;
	}
}