.agencies__subtitle {
    max-width: 955px;
    margin: 20px 0px 50px;
}

@media all and (max-width: 1023px) {
    .agencies__subtitle {
        margin-top: 15.39px;
        margin-bottom: 22px;
    }
}