.footer__address {
    display: flex;
    margin: 0;
    width: 315px;
    flex-direction: column;
    color: #333333;
}

@media screen and (max-width: 1023px) {
    .footer__address {
        width: 311px;
    }
}

@media screen and (max-width: 690px) {
    .footer__address {
        width: 295px;
    }
}