.news__grid-cards {
  grid-area: grid-cards;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
  'first-card second-card third-card';
  gap: 20px;
}

@media (max-width: 1023px) {
  .news__grid-cards {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'first-card second-card';
  }
}

@media (max-width: 767px) {
  .news__grid-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'first-card'
    'second-card'
    'third-card';
    gap: 16px;
  }
}