.header__nav{
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'logo menu button';
  height: 80px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header__nav {
    grid-template-columns: 20% 64.31% 15.69%;
    grid-template-areas:
    'logo button menu';
    justify-content: unset;
  }
}


@media screen and (max-width: 767px) {
  .header__nav {
    grid-template-columns: 33% 33% 33%;
    height: 54px;
    padding: 0;
  }
}
