.support__table-title {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.support__table-title::before,
.support__table-title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #dadada;
  position: relative;
}

.support__table-title::before {
  margin-left: -100%;
  left: -10px;
}
.support__table-title::after {
  margin-right: -100%;
  right: -10px;
}
