.header__menu-secondary-list{
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

@media screen and (max-width: 1250px) {
  .header__menu-secondary-list{
    gap: 15px;

  }
}
