.news__grid-cards_position_third {
  grid-area: third-card;
  grid-column: span 4;
}

@media (max-width: 1023px) {
  .news__grid-cards_position_third {
    display: none;
  }
}

@media (max-width: 767px) {
  .news__grid-cards_position_third {
    display: flex;
    grid-column: span 2;
  }
}