.news__grid-cards_position_first {
  grid-area: first-card;
  grid-column: span 4;
}

@media (max-width: 1023px) {
  .news__grid-cards_position_first {
    grid-column: span 3;
  }
}

@media (max-width: 767px) {
  .news__grid-cards_position_first {
    grid-column: span 2;
  }
}