.slider__image_size-everland{
  width: 392px;
  height: 407px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .slider__image_size-everland{
  width: 170px;
  height: 175px;
  }
}

@media (max-width: 767px) {
 .slider__image_size-everland{
 width: 170px;
 height: 160px;
 }
}
