.footer__support-icon_beeline {
    margin: 0;
    width: 100px;
    height: 100px;
    background-image: url(../../../../images/footer/beeline.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .footer__support-icon_beeline {
        background-image: url(../../../../images/footer/beelinem.png);
        width: 83px;
        height: 63px;
    }
}

@media screen and (max-width: 690px) {
    .footer__support-icon_beeline {
        width: 72px;
        height: 48px;
    }
}