.works-for__link {
    text-decoration: none;
    align-self: self-end;
    width: fit-content;
    height: fit-content;
    margin-top: 36px;
    max-width: 165px;
    grid-column: 1/2;
    grid-row: 4/5;
}

@media (max-width: 1023px) {
    .works-for__link {
        margin-top: 20px;
    }
}