.works-for__link {
    text-decoration: none;
    align-self: self-end;
    width: fit-content;
    height: fit-content;
    margin-top: 36px;
}

.works-for__link:first-of-type {
    color: #0C4BA0;
}

.works-for__link:nth-child(2) {
    color: #E98509;
}

.works-for__link:last-of-type {
    color: #319B17;
}