.quote-card__img {
    height: 224px;
    width: 224px;
}

@media all and (max-width: 1023px) {
    .quote-card__img {
        height: 204px;
        width: 204px;
    }
}

@media all and (max-width: 767px) {
    .quote-card__img {
        height: 80px;
        width: 80px;
    }
}