.projects__title {
    max-width: 853px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin: 0px 0px 20px;
}

@media all and (max-width: 768px) {
    .projects__title {
        font-size: 36px;
    }
}

@media all and (max-width: 320px) {
    .projects__title {
        font-size: 26px;
    }
}