.button_disabled_accordeon {
  background-color: #c4c4c4;
}

.button_disabled_accordeon:hover {
  background-color: #c4c4c4;
}

.button_disabled_accordeon::after {
  background-image: url(../../../images/plus/Icon_plus_gray.png);
}

.button_disabled_accordeon:hover::after {
  background-image: url(../../../images/plus/Icon_plus_gray.png);
}