.button_disabled_others {
  background-color: #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
}

.button_disabled_others:hover {
  background-color: #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
}

.button_disabled_others:active {
  background-color: #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
}

.button_disabled_others::after {
  background-image: url(../../../images/arrows/arrow_forward_disabled_others.png);
}

.button_disabled_others:hover::after {
  background-image: url(../../../images/arrows/arrow_forward_disabled_others.png);
}

.button_disabled_others:active::after {
  background-image: url(../../../images/arrows/arrow_forward_disabled_others.png);
}