.donations {
    background-color: #E7F0FF;
    max-width: 1360px;
    margin: 90px 40px 50px 40px;
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 58px 30px 54px;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .donations {
        padding: 32px 24px 36px;
    }
}

@media screen and (max-width: 767px) {
    .donations {
        padding: 32px 20px;
        grid-template-columns: 1fr;
        margin: 40px 10px 32px;
    }
}