.histories__icon-caption {
  grid-area: histories-caption;
  margin-top: 15px;
}

@media (max-width: 1023px) {
  .histories__icon-caption {
    width: 28px;
    height: 20px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .histories__icon-caption {
    width: 24px;
    height: 16px;
  }
}