.footer__social-icon_telegram {
    margin: 0;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-image: url(../../../../images/footer/telegram.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    grid-area: telegram;
}

@media screen and (max-width: 1023px) {
    .footer__social-icon_telegram {
        width: 40px;
        height: 40px;
    }
}