.button__tertiary {
  padding: 12px 16px;
  transition: 0.1s;
  background-color: #fafafa;
  border: 1px solid #333333;
  color: #333333;
}

.button__tertiary:hover {
  border: 2px solid #333333;
}

.button__tertiary:active {
  border: none;
  background-color: #333333;
  color: #fff;
}