.everland__donations-button_size-big {
    max-width: 211px;
    

}

@media screen and (max-width: 1023px) {
  .everland__donations-button_size-big {
    max-width: 135px;
  }
}
@media screen and (max-width: 767px) {
    .everland__donations-button_size-big {
      min-width: 260px;
  }
}
