.header__menu-accordeon{
  display: none;
}
@media screen and (max-width: 767px) {
  .header__menu-accordeon{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 22px;
    padding-top: 18px;
    box-sizing: border-box;

  }
}
