.projects__subtitle {
    max-width: 955px;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    margin: 0px 0px 50px;
}

@media all and (max-width: 768px) {
    .projects__subtitle {
        font-size: 20px;
    }
}

@media all and (max-width: 320px) {
    .projects__subtitle {
        font-size: 16px;
    }
}