.everland {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 520px;
 grid-template-rows: min-content 1fr;
 gap: 20px 14px;
 margin-top: 50px;
}

.slider{
  width: 520px;
  height: 565px;
  overflow: hidden;
  grid-row: span 2;
}

.slider-line{
  width: 3120px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-image1{
  width: 520px;
  height: 565px;
  background: #e5e5e5;

}

.slider-image1::before{
  width: 20px;
  height: 20px;
  background-image: url(../../images/slider/img1.jpg);
  background-size: contain;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.slider-image1::after{
  width: 20px;
  height: 20px;
  background-image: url(../../images/slider/img3.jpg);
  background-size: contain;
  border-radius: 10px;
  background-repeat: no-repeat;
}


.slider-image2{
  background-image: url(../../images/slider/img2.jpg);
  width: 520px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-image3{
  background-image: url(../../images/slider/img3.jpg);
  width: 520px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-image4{
  background-image: url(../../images/slider/img4.jpg);
  width: 520px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;

}
.slider-image5{
  background-image: url(../../images/slider/img5.jpg);
  width: 520px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;

}
.slider-image6{
  background-image: url(../../images/slider/img6.jpg);
  width: 520px;
  height: 565px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-switcher{
  display: flex;
  align-items: center;
  gap: 10px;

}

.slider-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-title{
  max-width: 543px;
}
