.everland {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 520px;
 grid-template-rows: min-content 1fr;
 gap: 20px 14px;
 margin-top: 50px;
 background: #ffffff;
}

.everland-title_style{
  color: #0c4ba0;
}

.slider{
  width: 520px;
  height: 565px;
  overflow: hidden;
  grid-row: span 2;
}

.slider-line{
  width: 3120px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-image-container{
  width: 520px;
  height: 565px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
}

.slider-image_style{
  width: 392px;
  height: 407px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.slider-image_location-top{
  position: absolute;
  top: 0px;
  right: 0px;;
}

.slider-image_location-bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.slider-image1{
  background-image: url(../../images/slider/img1.jpg);
}

.slider-image2{
  background-image: url(../../images/slider/img2.jpg);
}

.slider-image3{
  background-image: url(../../images/slider/img3.jpg);
}

.slider-image4{
  background-image: url(../../images/slider/img4.jpg);
}

.slider-image5{
  background-image: url(../../images/slider/img5.jpg);
}

.slider-image6{
  background-image: url(../../images/slider/img6.jpg);
}

.slider-image7{
  background-image: url(../../images/slider/img6.jpg);
}

.slider-image8{
  background-image: url(../../images/slider/img1.jpg);
}

.slider-image9{
  background-image: url(../../images/slider/img5.jpg);
}

.slider-image10{
  background-image: url(../../images/slider/img2.jpg);
}
.slider-image11{
  background-image: url(../../images/slider/img4.jpg);
}

.slider-image12{
  background-image: url(../../images/slider/img3.jpg);
}

.slider-switcher{
  display: flex;
  align-items: center;
  gap: 10px;

}

.slider-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-title{
  max-width: 543px;
}
