.everland {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 520px;
  grid-template-rows: 1fr min-content;
  column-gap: 14px;
  margin-top: 180px;
  box-sizing: border-box;
  background: #ffffff;
 }

@media (max-width: 1023px) {
  .everland{
    grid-template-columns: 1fr 244px;
    column-gap: 20px;
    margin-top: 156px;
  }
}

@media (max-width: 767px) {
  .everland{
    margin-top: 104px;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

  .everland-title{
    width: 100%;
    letter-spacing: -0.02em;
  }

  @media (max-width: 1023px) {
    .everland-title{
      letter-spacing: -0.03em;
    }
  }

 .everland-title_style-blue{
   color: #0c4ba0;
 }

 .slider{
  display: block;
 }

 .slider_theme-everland{
   width: 520px;
   height: 565px;
   grid-row: span 2;

 }

 @media (max-width: 1023px) {
   .slider_theme-everland{
   width: 244px;
   height: 272px;
   }
 }

 @media (max-width: 767px) {
  .slider_theme-everland{
  width: 300px;
  height: 200px;
  margin-top: 26px;
  }
}

 .slider-image-container{
   display: block;
   position: relative;
 }

 .slider-image-container_theme-everland{
   width: 520px;
   height: 565px;
   background: #ffffff;
   border-radius: 10px;
 }

 @media (max-width: 1023px) {
   .slider-image-container_theme-everland{
   width: 244px;
   height: 272px;
   }
 }

 @media (max-width: 767px) {
  .slider-image-container_theme-everland{
  width: 300px;
  height: 200px;
  }
}

 .slider-image_size-everland{
   width: 392px;
   height: 407px;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
 }

 @media (max-width: 1023px) {
   .slider-image_size-everland{
   width: 170px;
   height: 175px;
   }
 }

 @media (max-width: 767px) {
  .slider-image_size-everland{
  width: 170px;
  height: 160px;
  }
}

.slider-image_location-top{
  position: absolute;
  top: 0px;
  right: 0px;;
}

.slider-image_location-bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.slider-image1{
  background-image: url();
}

.slider-image2{
  background-image: url();
}

.slider-title{
  display: block;

}
.slider-switcher{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .slider-switcher{
    margin-top: 16px;
    justify-content: center;
  }
}


.slider-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 767px) {
  .slider-description{
    gap: 16px;
  }
}



@media (max-width: 1023px){
  .slider-title{
  max-width: 401px;
  }
}

@media (max-width: 767px){
  .slider-title{
  max-width: 294px;
  }
}
