.news__card-flex {
  display: grid;
  grid-template-rows: min-content max-content;
  flex-direction: column;
  text-decoration: none;
  color: #333333;
  gap: 30px;
}

@media (max-width: 1023px) {
  .news__card-flex {
    gap: 20px;
  }
}