.slider__switcher_theme-projects{
 grid-area: switcher;
 align-self: flex-end;
 justify-self: flex-end;
 padding-right: 56px;
 margin: 0;
}

@media (max-width: 1250px) {
  .slider__switcher_theme-projects{
    padding-right: 27px;
  }
}


@media (max-width: 767px) {
  .slider__switcher_theme-projects{
    padding: 0;
    align-self: flex-start;
  }
  }

