.support__input {
	width: 455px;
	height: 48px;
	border-radius: 10px;
	border: 1px solid #DADADA;
	outline: none;
	padding-left: 20px;
}

.support__input:first-of-type {
	margin-top: 24px;
	margin-bottom: 16px;
}

.support__input:last-of-type {
	margin-bottom: 24px;
}

.support__input::placeholder {
	opacity: 0.5;
}