.advantages {
  width: 100%;
  margin-top: 150px;
  box-sizing: border-box;
  padding: 0 40px;
  background-color: #ffffff;
}

@media (max-width: 1023px) {
  .advantages {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 0 10px;
    margin-top: 64px;
  }
}