.footer__navigation {
    display: flex;
    margin: 0;
    grid-area: navigation;
    gap: 80px;
}

@media screen and (max-width: 1023px) {
    .footer__navigation {
        gap: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .footer__navigation {
        gap: 16px;
        margin-top: 16px;
    }
}