.superprojects__button{
  max-width: 194px;
  align-self: flex-end;
}

@media (max-width: 1023px) {
  .superprojects__button{
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .superprojects__button{
    max-width: 250px;
    justify-self: center;
  }
}
