.button__link_type_disabled {
  background-color: #fff;
  color: #c4c4c4;
}

.button__link_type_disabled:hover {
  background-color: #fff;
  color: #c4c4c4;
}

.button__link_type_disabled:active {
  background-color: #fff;
  color: #c4c4c4;
}

.button__link_type_disabled::after {
  background-image: url(../../../../images/arrows/arrow_forward_disabled_link.png);
}

.button__link_type_disabled:hover::after {
  background-image: url(../../../../images/arrows/arrow_forward_disabled_link.png);
}

.button__link_type_disabled:active::after {
  background-image: url(../../../../images/arrows/arrow_forward_disabled_link.png);
}