.footer {
  display: grid;
  background-color: #fff;
  padding: 80px 40px 84px;
  grid-template-areas: 
  'description description description description description navigation navigation navigation navigation navigation navigation navigation'
  'sponsors sponsors sponsors sponsors sponsors socials socials socials socials socials socials socials'
  'info info info info info everland-copyright everland-copyright everland-copyright everland-copyright everland-copyright everland-copyright everland-copyright'
  'yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright';
  grid-template-columns: repeat(12, 1fr);
  gap: 40px 60px;
}

@media (max-width: 1023px) {
  .footer {
    padding: 50px 40px;
    grid-template-areas: 
    'description description description navigation navigation navigation'
    'sponsors sponsors sponsors socials socials socials'
    'info info info everland-copyright everland-copyright everland-copyright'
    'yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright yandex-copyright';
    grid-template-columns: repeat(6, 1fr);
    gap: 28px 60px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 10px 41px;
    grid-template-areas: 
    'description description'
    'navigation navigation'
    'sponsors sponsors'
    'info info'
    'socials socials'
    'everland-copyright everland-copyright'
    'yandex-copyright yandex-copyright';
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}