.footer__socials {
    display: grid;
    grid-area: socials;
    grid-template-areas: 
    'social-text social-text social-text'
    'telegram vk .';
    gap: 10px;
    grid-template-columns: min-content;
    margin-top: 50px;
}

@media screen and (max-width: 1023px) {
    .footer__socials {
        gap: 12px 4px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 767px) {
    .footer__socials {
        gap: 8px 4px;
        margin: 0;
    }
}