.button__primary {
  background-color: #0C4BA0;
  padding: 12px 16px;
  border: none;
  transition: 0.2s;
  color: #fff;
}

.button__primary:hover {
  background-color: #4183DC;
}

.button__primary:active {
  background-color: #00275C;
}