.slider__image-container_theme-projects{
  width: 555px;
  height: 393px;
  border-radius: 30px;
  background: #e7f0ff;
}

@media (max-width: 1023px) {
  .slider__image-container_theme-projects{
  width: 259px;
  height: 284px;
  border-radius: 10px;
  }
}

@media (max-width: 767px) {
 .slider__image-container_theme-projects{
 width: 254px;
 height: 180px;
 }
}
