.footer__phones {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 151px;
    color: #333333;
}

@media screen and (max-width: 1023px) {
    .footer__phones {
        gap: 16px;
    }
}

@media screen and (max-width: 690px) {
    .footer__phones {
        flex-direction: row;
        width: max-content;
    }
}