.projects {
  width: 100%;
  background: #e7f0ff;
  border-radius: 30px;
  padding: 30px 30px;
  margin-top: 150px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "name switcher image"
  "description switcher image"
  "button switcher image";
  justify-content: center;
  row-gap: 20px;
  grid-column: auto;
}

@media (max-width: 1023px) {
  .projects{
    row-gap: 12px;
  }
}

@media (max-width: 767px) {
  .projects{
    grid-template-areas:
  "name switcher"
  "image image"
  "description description"
  "button button";
    row-gap: 20px;
  }
}


