.support__info-sum {
	max-width: 652px;
	font-size: 18px;
	line-height: 23.4px;
	margin: 16px 0 24px 0;
}

@media screen and (max-width: 1023px) {
	.support__info-sum {
		font-size: 14px;
		margin-top: 19px;
		margin-bottom: 14px;
	}
}
