.slider__image_size-superprojects{
  width: 100%;
  height: 100%;
  background-color: #e7f0ff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

@media (max-width: 1023px) {
  .slider__image_size-superprojects{
    border-radius: 10px;
  }
}

