.button {
  max-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  opacity: 1;
  grid-area: button;
}

@media (max-width: 1023px) {
  .button {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .button {
    font-size: 14px;
  }
}