.numbers__image {
  border-radius: 30px;
  display: block;
  width: 100%;
  grid-area: numbers-image;
}

@media (max-width: 1023px) {
  .numbers__image {
    display: none;
  }
}

@media (max-width: 767px) {
  .numbers__image {
    display: block;
  }
}